@charset "UTF-8"
* { font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: linear-gradient(to right,#127369,#10403B,#8AA6A3)
}

main {
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(56, 48, 48, 0.281);
    width: 600px;
    padding: 10px;
    margin: auto;
}
    

h1 {
    color:#10403B;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.144);
}

h2 {color:#4C5958;

}

p {
    text-align: justify;
}